In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
from sklearn import tree
from sklearn.model_selection import train_test_split
%matplotlib inline

In [4]:
dataset=pd.read_csv('predicting_cancer.csv')
dataset.shape

(699, 11)

In [5]:
dataset.head()

,CodeNumber,ClumpThickness,UniformityCellSize,UniformityCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,CancerType
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [7]:
dataset.columns

Index(['CodeNumber', 'ClumpThickness', 'UniformityCellSize',
       'UniformityCellShape', 'MarginalAdhesion', 'SingleEpithelialCellSize',
       'BareNuclei', 'BlandChromatin', 'NormalNucleoli', 'Mitoses',
       'CancerType'],
      dtype='object')

In [11]:
dataset.dtypes.sort_values(ascending=True)

CodeNumber                   int64
ClumpThickness               int64
UniformityCellSize           int64
UniformityCellShape          int64
MarginalAdhesion             int64
SingleEpithelialCellSize     int64
BlandChromatin               int64
NormalNucleoli               int64
Mitoses                      int64
CancerType                   int64
BareNuclei                  object
dtype: object

In [20]:
dataset['BareNuclei'].unique()
dataset['BareNuclei'].describe()

count     699
unique     11
top         1
freq      402
Name: BareNuclei, dtype: object

In [19]:
dataset['BareNuclei'].value_counts()

1     402
10    132
5      30
2      30
3      28
8      21
4      19
?      16
9       9
7       8
6       4
Name: BareNuclei, dtype: int64

In [23]:
from sklearn.ensemble import RandomForestClassifier
validation_size=0.2
seed=7

In [33]:
x_train.head(10)

,CodeNumber,ClumpThickness,UniformityCellSize,UniformityCellShape,MarginalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses
319,721482,4,4,4,4,6,5,7,3,1
132,1180194,5,10,8,10,8,10,3,6,3
148,1187457,3,1,1,3,8,1,5,8,1
545,1197527,5,1,1,1,2,1,2,1,1
48,1106095,4,1,1,3,2,1,3,1,1
134,1180831,3,1,1,1,3,1,2,1,1
690,654546,1,1,1,3,2,1,1,1,1
235,1241232,3,1,4,1,2,?,3,1,1
55,1111249,10,6,6,3,4,5,3,6,1
457,1259008,8,8,9,6,6,3,10,10,1

In [26]:
y_train.head(4)

319    2
132    4
148    2
545    2
Name: CancerType, dtype: int64

In [36]:
clf=RandomForestClassifier()
dataset=dataset[dataset['BareNuclei']!= '?']

In [38]:
x=dataset.drop(['CancerType'],axis=1)
y=dataset['CancerType']

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=validation_size,random_state=seed)

In [40]:
clf=clf.fit(x_train,y_train)

In [42]:
predictions=(clf.predict(x_test))
predictions

array([4, 4, 2, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4,
       4, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4, 4, 2, 4, 2, 2, 2, 4, 4, 4, 2, 2,
       4, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2,
       4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 2,
       4, 2, 4, 4, 4], dtype=int64)

In [44]:
from sklearn.metrics import accuracy_score , confusion_matrix , classification_report
print(accuracy_score(y_test,predictions))

0.9781021897810219

In [ ]:
n_estimators,_max_features,mean_samples_leaf,